
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    background-color: #cad4e2;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin-top: 10%;
    font-family: Helvetica, Arial, sans-serif;

}

.logo-text-container {
    width: 50%;
    
}

.logo-text-container img {
    width: 200px;
}

.slogan {
}

.form-login-container {
    display: flex;
    flex-direction: column;
    width: 396px;
    background-color: #FFFFFF;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    box-shadow: 0 0 16px rgba(0, 0, 0, .1);

}
.form-login-container input {
    padding: 14px 16px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    margin: 14px 16px;
    border-radius: 6px;
    width: 90%;
}

.form-login-container input:focus {
    outline: 1px solid #1B74E4;
    box-shadow: 0 0 5px rgba(27,116,228, .5);
}

.btn-login {
    font-family: inherit;
    background-color: #1877F2;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    margin: 14px 16px 0;
    color: #FFFFFF;
    border: none;
    width: 90%;
}

.btn-login:hover {
    background-color:#095ecc ;
}



.btn-repassword {
    margin-top: 16px;
    background-color: #FFFFFF;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}
 
.btn-repassword:hover {
    text-decoration: underline;
}

.underline{
    border: 1px solid #DADDE1;
    margin: 20px 16px;
    width: 90%;
}

.btn-signup {
    border: none;
    background-color: #42B72A;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    color: #FFFFFF;
    width: 40%;
    text-decoration: none;
    margin-bottom: 16px;
}


.btn-signup:hover {
    background-color: #36A420;
}




/* RESPONSIVE */




/* mobile + tablet */
/* tablet: 740px =< width < 1024px */
@media screen and  (max-width: 64em) {
    #main {
        flex-direction: column;
        width: 100%;
    }
    .slogan {
        margin-bottom: 20px;

    }
    .logo-text-container {
        text-align: center;

    }

}

/* mobile: width < 740px */
@media screen and  (max-width:46.1875em) {

 
    .form-login-container {
        width: 100%;
    }
    .btn-signup {
        width: 70%;
    }
}



/* tablet: 740px =< width < 1024px */
@media screen and  (min-width:46.1875em) and  (max-width: 64em) {
    .slogan {
        font-size: 40px;
    }
    .form-login-container {
        width: 100%;
    }
    .btn-repassword {
        font-size: 20px;
    }
    .btn-login,
    .form-login-container input {
        font-size: 30px;

    }
}
