.ai-center {
    align-items: center;
}
.container-content .box {
    width: 13%;
    margin: 12px;
}
.dp-inline {
    display: inline;
}
.box-sodu {
    background-color: #FF413A;
}

.box-gioithieu {
    background-color: #F4A100;
}

.box-choduyet {
    background-color: #6C757D;
}

.box-giutien  {
    background-color:#17A2B8 ;
}

.box-tiendaduyet {
    background-color: #3366FF;
}

.box-tiendarut  {
    background-color:#00AC69 ;
}
/* MOBILE */

@media screen and (max-width:740px) {
    .container-content .box {
        width: 95%;
    }
}
/* TABLET */
@media screen and (max-width:1160px) and (min-width:740px){
    .container-content .box {
        width: 33.333%;
    }
    .container-content {
        display:block;
    }
}

/* pc */
@media screen and (min-width:1160px) {
    .container-content {
        display: flex;
    }
    .container-content .box {
        width: 29%;
    }
}
