{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <title>Home - Exam Relax</title>
    <link rel="stylesheet" href="{% static 'home_app\css\home.css'%}">
    <link rel="stylesheet" href="{% static 'earn_money_app\css\earn_money_app.css'%}">
    <link rel="icon" type="image/png" href="{%static 'home_app/img/logo.png'%}">
    <style>
        html, body {
            font-family:Verdana;
        }

    </style>
</head>
<body>
    <div id="main" class="ct-80-lr-20">
        <div class="fullscreen-noti width-100pt"></div>
        <div id="header" class="mg-8-16  row ">
            <img class="header-logo" src="{%static 'home_app\img\logo.png'%}" alt="logo">
            <img class= 'header-logo-text' src="{%static 'home_app\img\logo-text.png'%}" alt="logo">
            <div class="header-container-search row child-ct-col">
                <i class="fa-solid fa-magnifying-glass icon-search pd-lr-8"></i>
                <input class="search-input" type="text" placeholder="Tìm kiếm bài học, bài viết, video, ..."></input>
            </div>
            <div class="header-user row ">
                <i class="fa-solid fa-bell header-notification">
                    
                    <div class="triangle box_shadow display-none-noti"></div>
                    <div class="container-noti br-7 box_shadow display-none-noti">
                        <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                           <p>mày vừa được Tạ Dũng like</p>
                        </div>
                        <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                            <p>ban 3 day</p>
                        </div>
                        <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                            <p>mày vừa được Tạ Dũng like</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                             <p>ban 3 day</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                            <p>mày vừa được Tạ Dũng like</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                             <p>ban 3 day</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                            <p>mày vừa được Tạ Dũng like</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                             <p>ban 3 day</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                            <p>mày vừa được Tạ Dũng like</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                             <p>ban 3 day</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                            <p>mày vừa được Tạ Dũng like</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                             <p>ban 3 day</p>
                         </div>
                    </div>
                </i>
                <div class="coin row"><b>50000</b> xu</div>
                <p class="name-user  ">Phùng Thành Đạt</p>
                <img src="{%static 'home_app\img\logo.png'%}" alt="">
            </div>
        </div>
        <div id="nav">
            <label for="on-nav-items" class="nav-home"><i class="fa-solid fa-bars-progress"></i></label>
            <label for="on-nav-items-mobile" class="nav-home-mobile"><i class="fa-solid fa-bars-progress"></i></label>
            <input type="checkbox" name="" id="on-nav-items" hidden>
            
            <div class="nav-items">
                <a href='{% url "home"%}' class="nav-child"><i class="fa-solid fa-house"></i>Trang chủ</a>
                <a href='{% url "document"%}' class="nav-child"><i class="fa-solid fa-folder"></i>Tài liệu</a>
                <a href='{% url "earn_money"%}' class="nav-child"><i class="fa-solid fa-circle-dollar-to-slot"></i>Kiếm tiền</a>
                <a href='{% url "pay"%}' class="nav-child"><i class="fa-solid fa-credit-card"></i>Thanh toán</a>
                <a href='{% url "profile_user"%}' class="nav-child"><i class="fa-solid fa-user"></i>Trang cá nhân</a>
                <a href='{% url "setting"%}' class="nav-child"><i class="fa-solid fa-gear"></i>Cài đặt</a>
                <div class="accout-out">
                    <button>Đăng xuất</button>
                </div>
            </div>
            <input type="checkbox" hidden name="" id="on-nav-items-mobile" >
            <label for="on-nav-items-mobile" class="fullscreen"></label>
            <div class="nav-items-mobile" >
                <a href='{% url "home"%}' class="nav-child"><i class="fa-solid fa-house"></i>Trang chủ</a>
                <a href='{% url "document"%}' class="nav-child"><i class="fa-solid fa-folder"></i>Tài liệu</a>
                <a href='{% url "earn_money"%}' class="nav-child"><i class="fa-solid fa-circle-dollar-to-slot"></i>Kiếm tiền</a>
                <a href='{% url "pay"%}' class="nav-child"><i class="fa-solid fa-credit-card"></i>Thanh toán</a>
                <a href='{% url "profile_user"%}' class="nav-child"><i class="fa-solid fa-user"></i>Trang cá nhân</a>
                <a href='{% url "setting"%}' class="nav-child"><i class="fa-solid fa-gear"></i>Cài đặt</a>
                <div class="accout-out">
                    <button>Đăng xuất</button>
                </div>
            </div>

        </div>
        <div id="content">
            <div class="content-container">
                <!-- Nội dung bài viết và bảng xếp hạng của bạn ở đây -->
                <div class="post">
                    
                    <div class="post-child">
                        <div class="post-header">
                            <img class="img-50" src="{%static 'home_app\img\logo.png'%}" alt="" class="avatar">
                            <div class="info">
                                <p class="username">Admin <i style="color: #0866FF;" class="fa-solid fa-circle-check tick"></i></p>
                                <p class="time">11:00 <i class="fa-solid fa-globe"></i></p>
                            </div>
                        </div>
                        <div class="post-content">
                            <p class="content-text">Vui lòng cập nhật avatar tiktok trước khi thêm vào làm nhiệm vụ, những tài khoản không có avatar sẽ không thể thêm được</p>
                        </div>
        
                        <div class="total-emotions">
                            <div class="heart"><i class="fa-solid fa-heart"> 1,2K</i></div>
                            <div class="comment-share">
                                <p style="margin-right: 20px;" class="opctncm">30 bình luận</p>
                                <p>6 lượt chia sẻ</p>
                            
                            </div>
                        </div>
                        <div class="post-emotions">
                            <div class="emotion-item">
                                <i class="fa-solid fa-heart"></i>Like
                            </div>
                            <label for="on-comment" class ="emotion-item">
                                <i class="fa-solid fa-comment"></i>Comment
                            </label>
                            <div class="emotion-item">
                                <i class="fa-solid fa-share"></i>Share
                            </div>
                        </div>
        
                        <input type="checkbox" name="" hidden id="on-comment" class="on-comment-class">
                        <div class="post-container-comment">
                            <i class="fa-solid fa-check comment-next"></i>
                            <input type="text" class="input-comment" placeholder="Viết bình luận...">
                            <img src="{%static 'home_app\img\logo.png'%}" alt="user" class="img-user-comment img-50">
                        </div>
                    </div>
        
        
                    <div class="post-child">
                        <div class="post-header">
                            <img class="img-50" src="{%static 'home_app\img\logo.png'%}" alt="" class="avatar">
                            <div class="info">
                                <p class="username">Admin <i class="fa-solid fa-circle-check tick"></i></p>
                                <p class="time">11:00 <i class="fa-solid fa-globe"></i></p>
                            </div>
                        </div>
                        <div class="post-content">
                            <p class="content-text">Vui lòng cập nhật avatar tiktok trước khi thêm vào làm nhiệm vụ, những tài khoản không có avatar sẽ không thể thêm được</p>
                        </div>
        
                        <div class="total-emotions">
                            <div class="heart"><i class="fa-solid fa-heart"> 1,2K</i></div>
                            <div class="comment-share">
                                <p style="margin-right: 20px;" class="opctncm">30 bình luận</p>
                                <p>6 lượt chia sẻ</p>
                            
                            </div>
                        </div>
                        <div class="post-emotions">
                            <div class="emotion-item">
                                <i class="fa-solid fa-heart"></i>Like
                            </div>
                            <label for="on-comment1" class ="emotion-item">
                                <i class="fa-solid fa-comment"></i>Comment
                            </label>
                            <div class="emotion-item">
                                <i class="fa-solid fa-share"></i>Share
                            </div>
                        </div>
        
                        <input type="checkbox" name="" hidden id="on-comment1" class="on-comment-class">
                        <div class="post-container-comment">
                            <i class="fa-solid fa-check comment-next"></i>
                            <input type="text" class="input-comment" placeholder="Viết bình luận...">
                            <img src="{%static 'home_app\img\logo.png'%}" alt="user" class="img-user-comment img-50">
                        </div>


                        <div class="container-total-comment">
                            <div class="cuon">
                                <i class="fa-solid fa-xmark clctncm"></i>
                                <div class="post-child-comment">
                                    <div class="post-header">
                                        <img class="img-50" src="{% static 'home_app\img\logo.png' %}" alt="" class="avatar">
                                        <div class="info">
                                            <p class="username">Admin <i class="fa-solid fa-circle-check tick"></i></p>
                                            <p class="time">11:00 <i class="fa-solid fa-globe"></i></p>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        <p class="content-text">Vui lòng cập nhật avatar tiktok trước khi thêm vào làm nhiệm vụ, những tài khoản không có avatar sẽ không thể thêm được</p>
                                    </div>

                                <div style="margin-top: 10px;"></div>
                                </div>
                                <div class="user-comment">
                                    <img src="{% static 'home_app\img\logo.png'%}" alt="" class="img-user">
                                    <div class="info-user">
                                        <p class="name-user-comment"><b>Minh Quang</b></p>
                                        <p class="content-user">Không còn điều dì để mà diễn tả tôi cái bài viết này, phải nói là một kiệt tác của nhân loại luôn á quý dị.s</p>
                                    </div>
                                </div>
                                <div class="user-comment">
                                    <img src="{% static 'home_app\img\logo.png'%}" alt="" class="img-user">
                                    <div class="info-user">
                                        <p class="name-user-comment"><b>Minh Quang</b></p>
                                        <p class="content-user">Không còn điều dì để mà diễn tả tôi cái bài viết này, phải nói là một kiệt tác của nhân loại luôn á quý dị.s</p>
                                    </div>
                                </div>
                                <div class="user-comment">
                                    <img src="{% static 'home_app\img\logo.png'%}" alt="" class="img-user">
                                    <div class="info-user">
                                        <p class="name-user-comment"><b>Minh Quang</b></p>
                                        <p class="content-user">Không còn điều dì để mà diễn tả tôi cái bài viết này, phải nói là một kiệt tác của nhân loại luôn á quý dị.s</p>
                                    </div>
                                </div>
                                <div class="user-comment">
                                    <img src="{% static 'home_app\img\logo.png'%}" alt="" class="img-user">
                                    <div class="info-user">
                                        <p class="name-user-comment"><b>Minh Quang</b></p>
                                        <p class="content-user">Không còn điều dì để mà diễn tả tôi cái bài viết này, phải nói là một kiệt tác của nhân loại luôn á quý dị.s</p>
                                    </div>
                                </div>
                                <div class="user-comment">
                                    <img src="{% static 'home_app\img\logo.png'%}" alt="" class="img-user">
                                    <div class="info-user">
                                        <p class="name-user-comment"><b>Minh Quang</b></p>
                                        <p class="content-user">Không còn điều dì để mà diễn tả tôi cái bài viết này, phải nói là một kiệt tác của nhân loại luôn á quý dị.s</p>
                                    </div>
                                </div>
                                <div class="user-comment">
                                    <img src="{% static 'home_app\img\logo.png'%}" alt="" class="img-user">
                                    <div class="info-user">
                                        <p class="name-user-comment"><b>Minh Quang</b></p>
                                        <p class="content-user">Không còn điều dì để mà diễn tả tôi cái bài viết này, phải nói là một kiệt tác của nhân loại luôn á quý dị.s</p>
                                    </div>
                                </div> 
                                <div class="user-comment">
                                    <img src="{% static 'home_app\img\logo.png'%}" alt="" class="img-user">
                                    <div class="info-user">
                                        <p class="name-user-comment"><b>Minh Quang</b></p>
                                        <p class="content-user">Không còn điều dì để mà diễn tả tôi cái bài viết này, phải nói là một kiệt tác của nhân loại luôn á quý dị.s</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
          
        
                    <!-- Các phần tử bài viết khác ở đây -->
                </div>
            </div>
            <div class="rank">
                <div class="rank-header">
                    <h3 class="header-content">Bảng Xếp Hạng Trẻ Trâu</h3>
                </div>
                <div class="rank-user">
                    <div class="user-child">
                        <img class="img-50" src="{%static 'home_app\img\logo.png'%}" alt="">
                        <div class="info">
                            <p class="username">Client1</p>
                            <p class="rank-user">Thách Đố</p>
                            <p class="point">Điểm: 2000003</p>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
    <script src="https://kit.fontawesome.com/0d2d64e695.js" crossorigin="anonymous"></script>
    <script src="{%static 'home_app\js\post\container-comment\container_comment.js'%}"></script>
    <script src="{%static 'home_app\js\commom.js'%}"></script>
</body>
</html>
