


{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <title>Exam Relax</title>
    <link rel="stylesheet" href="{%static 'home_app/css/login.css'%}">
    <link rel="stylesheet" href="{%static 'home_app/css/home.css'%}">
    <link rel="icon" type="image/png" href="{%static 'home_app/img/logo.png'%}">
</head>

<body>


    <div id="main">
        <div class="container-loading">
    
            <i class=" loading fa-solid fa-spinner fa-spin-pulse fa-xl" style="color: #16eadb;"></i>
        </div>
        <div class="fullscreen-noti h-100vh width-100pt"></div>
        <div class="logo-text-container">
            <img src="{%static 'home_app\img\logo.png'%}" alt="Logo">
            <p class="slogan">Test yourself!</p>
        </div>

        <div >
            <form class = "form-login-container form-login-container-js"  action="{% url 'login'%}" method="post">
                {%csrf_token%}
                <div class="notification notification-js">
                    <p>Chào Mừng!!</p>
                    <label for="check-close-noti" class="close-noti close-noti-js">x</label>
                </div>
                <input class="username-js" required placeholder="Tên tài khoản" name="username" type="text">
                <input class="password-js" required type="password" placeholder="Mật khẩu" name="password">
                <button type="submit" class="btn-login">Đăng nhập</button>
                <a href="#" class="btn-repassword">Quên mật khẩu?</a>
                <div class="underline"></div>
                <a href="{% url 'register'%}" class="btn-signup">Tạo tài khoản mới</a>
            </form>
        </div>

    </div>
    <script src="{% static 'home_app\js\login\login_API.js'%}"></script>
    <script src="{% static 'home_app\js\commom.js'%}"></script>
    <script src="https://kit.fontawesome.com/0d2d64e695.js" crossorigin="anonymous"></script>

</body>

</html>
