body {
    font-family:Arial;
}
body, html {
        overflow: auto;
    }
.bg-color_color_btn {
    background-color: #009EF7;
    color: white;
    padding: 12px 20px;
    border-radius: 7px;
}
.mg-top-bottom-16 {
    margin: 16px 0 16px;
}
.br-7 {
    border-radius: 7px;
}

.fix-input {
    color: white;
}
.bd {
    border: 1px solid #474761;
}
.pd-20 {
    padding: 20px;
}
.pd-7-10 {
    padding: 7px 10px;
}

.width-50pt {
    width: 50%;
}
.color-gray {
    color: #474761;
}

.cursor-pointer {
    cursor: pointer;
}
.transition-color {
    transition: color 0.5s
}
.hover-color-xanh:hover  {
    color: #049EF7;
}

#content .container {
    padding: 30px;
    border-radius: 8px;
    width: 100%;
}

.container .container_base_info {
    padding: 40px 10px 10px 10px;
    margin-top: 20px;
    background-color: #121E2E;
    border-radius: 8px;
    
}
#content {
    font-family:Arial;
}
#content .container .base-info .info {
    display: flex;
}

.info .img-user {
    width: 200px;
    height: 200px;
}

.info .container_img_user {
    margin-right: 20px;
}

.info .sub-name .username {
    font-size: 26px;
    margin-bottom: 7px;
}


.sub-name .container_coin {
    display: flex;
    margin-top: 30px;
}

.sub-name .container_coin .coin {
    margin-right: 16px;
    padding: 7px;
}

.mail_checked_icon {
    margin: 0 10px;
}

/* NAV */

.base-info .nav  {
    padding: 16px;
}

.base-info .nav .nav_items {
    display: flex;
    list-style-type: none;
}
.base-info .nav ul label:first-child li {
    border-bottom: 2px solid #009EF7;
    color: #009EF7;
}
.nav .nav_items .nav_item {
    font-weight: 600;
}
.nav .nav_items .nav_item:hover {
    border-bottom: 2px solid #009EF7;
}

.change-nav .base-info,
.change-nav .pay-info,
.change-nav .post,
.change-nav .login_log {
    display: none;
}


#nav_base_info:checked ~ .base-info,
#nav_pay_info:checked ~ .pay-info,
#nav_post:checked ~ .post,
#nav_login_log:checked ~ .login_log {
    display: block 
}

/* CHANGE_NAV */

.change-nav {
    background-color: #121E2E;

}
.base-info .container {
    display: flex;
    flex-direction: column;
}
.base-info .container p {
    font-size: 15px;
}
.input-base {
    padding: 10px 16px;
    width:80%;
    background-color: #2b2b40;
    margin: 8px 0 16px;
    color: #92929f;
    border: none;
    border-radius: 7px;
}
.base-info input {
    padding: 10px 16px;
    width:80%;
    background-color: #2b2b40;
    margin: 8px 0 16px;
    color: #92929f;
    border: none;
    border-radius: 7px;
}

.change-flex .item_con {
    padding: 10px;
}
.change-flex .btn_submit {
    margin: 10px;
}
.change-flex {
    width: 100%;
}

/* Thông tin thanh toán  */
.change-nav .container {
    position: relative;
    display: flex;
    height: 100%;
}

.change-nav .pay-info .container {
    display: flex;
}

.container .update_method_pay {
    width: 50%;
}
.pay-info .note_pay {
    border: 1px solid #484860;
    width: 50%;
    height: 359px;
}

.note_pay .item_note {
    padding: 13px 14px;
    border-bottom: 1px solid #212b3c;
}
.not-border {
    border: none!important
}

/* login log  */
.login_log .container {
    border: 1px solid #484860;;
    max-width: 100%;
    overflow-x: auto;
} 


.login_log .table_log td {
    white-space: nowrap;
    padding: 16px 0;
    color:#565666 ;
    border-bottom: 1px solid #565666;
}
.login_log .table_log tr:last-child td {
    border: none;
}
.login_log .table_log td,
.login_log .table_log th {
    text-align: left;
    padding-right: 30px;
    font-size: 13px;

}

img {
    border-radius: 10px;
}



/* RESPONSIVE */


/* COMMOM */

@media screen and (max-width:1160px) {
    #content {
        flex-direction: column;
        color: whitesmoke;
    }
}
/* MOBILE */

@media screen and (max-width:740px) {
    #content .container .base-info .info {
        display: block;
    }

    .base-info .nav .nav_items {
        display: block;
    }
    .info .img-user {
        width: 100px;
        height: 100px;
    }
    .base-info input {
        width: 102%;
    }
    #content .container {
        display: flex;
        flex-direction: column;
    }
    .container .update_method_pay {
        width: 100%;
    }

    .pay-info .note_pay {
        border: 1px solid #484860;
        width: 100%;
        height: 528px;
        margin-top: 20px;
        
    }

    .total-emotions .comment-share {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 20px;
    }
    .post-emotions {
        font-size: 14px;
        margin-top: 26px;
    }
    .post-child {
        width: 102%;
        margin: 0 0 20px 0;
    }
    #content .container {
        padding: 20px;
    }

    .container_coin .coin {
        margin-right: 9px;
    }
}


/* TABLET */
@media screen and (max-width:1160px) and (min-width:740px){
 
}
/* TABLET */
@media screen and (min-width:1160px){

}