{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <title>Home - Exam Relax</title>
    <link rel="stylesheet" href="{% static 'home_app\css\home.css'%}">
    <link rel="stylesheet" href="{% static 'profile_user_app\css\profile_user_app.css'%}">
    <link rel="stylesheet" href="{% static 'earn_money_app\css\earn_money_app.css'%}">
    <link rel="icon" type="image/png" href="{%static 'home_app/img/logo.png'%}">

</head>
<body>
    <div id="main" class="ct-80-lr-20">
        <div class="container-loading">
    
            <i class=" loading fa-solid fa-spinner fa-spin-pulse fa-2xl" style="color: #16eadb;"></i>
        </div>
        <div class="fullscreen-noti h-100vh width-100pt"></div>
        <div id="header" class="mg-8-16  row ">
            <img class="header-logo" src="{%static 'home_app\img\logo.png'%}" alt="logo">
            <img class= 'header-logo-text' src="{%static 'home_app\img\logo-text.png'%}" alt="logo">
            <div class="header-container-search row child-ct-col">
                <i class="fa-solid fa-magnifying-glass icon-search pd-lr-8"></i>
                <input class="search-input" type="text" placeholder="Tìm kiếm bài học, bài viết, video, ..."></input>
            </div>
            <div class="header-user row ">
                <i class="fa-solid fa-bell header-notification">
                    
                    <div class="triangle box_shadow display-none-noti"></div>
                    <div class="container-noti br-7 box_shadow display-none-noti">
                        {% for noti in noties%}
                            <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">

                                <p  style="color: rgb(32, 167, 167);">{{noti.create_at.time|date:"H:i"}} - {{noti.create_at.date}}: </p>
                                <p class="pd-6">{{noti.content}}</p>
                            </div>
                        {% endfor%}
                    </div>
                </i>
                <div class="coin row"><i class="fa-solid fa-dollar-sign"></i><b> {{money}}</b></div>
                <p class="name-user  ">{{username}}</p>
                <img class="w-50 pd-lr-8" src="{{avatar.url}}" alt="">
            </div>
        </div>
        <div id="nav">
            <label for="on-nav-items" class="nav-home"><i class="fa-solid fa-bars-progress"></i></label>
            <label for="on-nav-items-mobile" class="nav-home-mobile"><i class="fa-solid fa-bars-progress"></i></label>
            <input type="checkbox" name="" id="on-nav-items" hidden>
            
            <div class="nav-items">
                <a href='{% url "home"%}' class="nav-child"><i class="fa-solid fa-house"></i>Trang chủ</a>
                <a href='{% url "document"%}' class="nav-child"><i class="fa-solid fa-folder"></i>Tài liệu</a>
                <a href='{% url "earn_money"%}' class="nav-child"><i class="fa-solid fa-circle-dollar-to-slot"></i>Kiếm tiền</a>
                <a href='{% url "pay"%}' class="nav-child"><i class="fa-solid fa-credit-card"></i>Thanh toán</a>
                <a href='{% url "profile_user"%}' class="nav-child"><i class="fa-solid fa-user"></i>Trang cá nhân</a>
                <a href='{% url "setting"%}' class="nav-child"><i class="fa-solid fa-gear"></i>Cài đặt</a>
                <div class="accout-out">
                    <button>Đăng xuất</button>
                </div>
            </div>
            <input type="checkbox" hidden name="" id="on-nav-items-mobile" >
            <label for="on-nav-items-mobile" class="fullscreen"></label>
            <div class="nav-items-mobile" >
                <a href='{% url "home"%}' class="nav-child"><i class="fa-solid fa-house"></i>Trang chủ</a>
                <a href='{% url "document"%}' class="nav-child"><i class="fa-solid fa-folder"></i>Tài liệu</a>
                <a href='{% url "earn_money"%}' class="nav-child"><i class="fa-solid fa-circle-dollar-to-slot"></i>Kiếm tiền</a>
                <a href='{% url "pay"%}' class="nav-child"><i class="fa-solid fa-credit-card"></i>Thanh toán</a>
                <a href='{% url "profile_user"%}' class="nav-child"><i class="fa-solid fa-user"></i>Trang cá nhân</a>
                <a href='{% url "setting"%}' class="nav-child"><i class="fa-solid fa-gear"></i>Cài đặt</a>
                <div class="accout-out">
                    <button>Đăng xuất</button>
                </div>
            </div>

        </div>
        <div id="content" >
            <div class="container">
                <h2>Thông tin người dùng </h2>
                <div class="container_base_info">

                    <div class="base-info">
                        <div class="info">
                            <div class="container_img_user">
                                <img class="img-user" src="{{avatar.url}}" alt="avt">
    
                            </div>
                            <div class="sub-name">
                                <h3 class="username hover-color-xanh transition-color">{{username}}</h3>
                                <p class="email color-gray hover-color-xanh transition-color"><i class="fa-solid fa-envelope-circle-check mail_checked_icon"></i>{{email}}</p>
                                <div class="container_coin">
                                    <div class="coin pd-7-10 bd br-7">
                                        <h4 class="coin "><i class="fa-solid fa-dollar-sign"></i> {{money}}</h4>
                                        <p class="sub_decs color-gray hover-color-xanh transition-color">Thu nhập chính</p>
                                    </div>

                                    <div class="coin pd-7-10 bd br-7">
                                        <h4 class="coin "><i class="fa-solid fa-dollar-sign"></i> 0</h4>
                                        <p class="sub_decs color-gray transition-color hover-color-xanh">Thu Nhập Giới Thiệu</p>
                                    </div>
                                </div>
    
                            </div>
                        </div>
    
                        <div class="nav">
                            <ul class="nav_items">
                                <label for="nav_base_info"><li class="cursor-pointer nav_item pd-7-10">Thông tin cơ bản </li></label>
                                <label for="nav_pay_info"><li class="cursor-pointer nav_item pd-7-10">Thông tin thanh toán</li></label>
                                <label for="nav_post"><li class="cursor-pointer nav_item pd-7-10 check-click-post-js">Bài đăng</li></label>
                                <label for="nav_login_log"><li class="cursor-pointer nav_item pd-7-10">Nhật ký đăng nhập</li></label>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="change-nav br-7 mg-top-bottom-16">
                    <!-- cách mục điều hướng -->

                    <input type="radio" checked hidden name="nav_info_profile" class="check_nav_profile" id="nav_base_info">
                    <!-- thông tin cơ bản -->
                    <div class="base-info" >
                        <div class="container">

                            <h3 class="">Thông tin cơ bản</h3>
                            <div class="change-flex pd-7-10">
                                <form action="">
                                    {% csrf_token %}
                                    <div class="item_con">
        
        
                                        <p class="info-fields-title"> Name</p>
                                        <input value="{{username}}" readonly type="text" class="input-base username-in-editinfo-js">
                                        <p class="info-fields">Email</p>
                                        <input value="{{email}}" required type="email" class="input-base email-in-editinfo-js">
                                    </div>
                                    <div class="item_con">
                                        <p class="info-fields">Số điện thoại </p>
                                        <input value="{{number_phone}}" required type="text" class="input-base numberphone-in-editinfo-js">
                                        <p class="info-fields">Địa chỉ</p>
                                        <input value="{{address}}" required type="text" class="input-base address-in-editinfo-js">
        
                                    </div>
                                    <p class="display-none-noti info-js"></p>
                                    <button type="submit" class="btn_submit btn-edit-info-js  bg-color_color_btn cursor-pointer">Xác nhận</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- END thông tin cơ bản -->

                    <input type="radio" hidden name="nav_info_profile" class="check_nav_profile" id="nav_pay_info">

                    <!-- Thông tin thanh toán  -->
                    <div class="pay-info pd-20"  >
                       <h3> Thông tin thanh toán</h3>
                        <div class="container">

                            <div class="update_method_pay">
                                <form action="">
                                    {% csrf_token %}
                                    <div class="container_header">

                                        <p class="info-fields">Phương thức thanh toán</p>
                                        <select required name="" id="choose_method" class="input-base method-pay-js">
                                            <option value="none">Lựa chọn</option>
                                            <option value="momo">MoMo</option>
                                            <option value="bank">Bank Transfer</option>
                                            <option value="paypal">Paypal</option>
                                        </select>
                                        
                                    </div>
                                    <div id="method_momo" style="display: none;">
                                        <p class="title_input">Số điện thoại MoMo</p>
                                        <input required  type="text" class=" input-base input phone-number-momo-js" placeholder="MoMo Phone Number">
                                    </div>
         
                                    <div id="method_bank" style="display: none;">
                                        <p class="title_input ">Tên ngân hàng</p>
                                        <select required name="" id="" class="input-base name-bank-js">
                                            <option value="vtb">VietinBank</option>
                                            <option value="vcb">Vietcombank</option>
                                            <option value="bidv">BIDV</option>
                                            <option value="agb">Agribank</option>
                                            <option value="mbb">MBBank</option>
                                            <option value="vpb">VPBank</option>
                                        </select>
                                        <p class="title_input">Tên tài khoản ngân hàng</p>
                                        <input required type="text" class="input input-base name-acc-bank-js" placeholder="Back Account Name">
                                        <p class="title_input">Số tài khoản ngân hàng</p>
                                        <input required type="text" class="input input-base stk-bank-js" placeholder="Back Account Number">
                                    </div>
                                    <div id="method_paypal" style="display: none;" >
                                        <p class="title_input">Paypal Email</p>
                                        <input required  type="text" class="email-paypal-js input-base" placeholder="Paypal Email">
        
                                    </div>
                                    <p style="display: none;" class="color-red info-addbank-js background-user pd-6">cccccccccccc</p>
                                    <button type="submit" class="btn_submit bg-color_color_btn btn-addbank-js">Xác nhận</button>
                                </form>
                            </div>
                        

                       <div class="note_pay br-7 pd-20">
                            <table class="table_note">
                                <tr>
                                    <td class="item_note ">Phương thức rút tiền</td>
                                    <td class="item_note ">	Số tiền rút tối thiểu</td>
                                </tr>
                                <tr>
                                    <td class="item_note ">Bank Transfer</td>
                                    <td class="item_note ">$20.00</td>
                                </tr>
                                <tr>
                                    <td class="item_note">MoMo</td>
                                    <td class="item_note">$20.00</td>
                                </tr>
                                <tr>
                                    <td class="item_note">PayPal</td>
                                    <td class="item_note">$20.00</td>
                                </tr>
                                <tr>
                                    <td class="item_note">Web Money</td>
                                    <td class="item_note">$20.00</td>
                                </tr>
                                <tr>
                                    <td class="item_note">Thẻ Cào Điện Thoại, Game</td>
                                    <td class ="item_note ">$20.00</td>
                                </tr>
                                <tr>
                                    <td class="item_note not-border">ZaloPay</td>
                                    <td class="item_note not-border">$20.00</td>
                                </tr>
                            </table>
                       </div>
                    </div>
                    </div>
                    <!--  END Thông tin thanh toán  -->

                    <input type="radio" hidden name="nav_info_profile" class="check_nav_profile" id="nav_post">

                    <!-- thông tin các bài viết -->
                    <div class="post" >
                        <h3 class="pd-20">Bài đăng</h3>
                        <div class="container_post container-post-js pd-20">
                            <!-- các post của user -->
                            
                            <!-- end container-comment  -->
                        </div>
                    </div>
                    
                    <!-- END thông tin các bài viết -->

                    <input type="radio" hidden name="nav_info_profile" class="check_nav_profile" id="nav_login_log">

                    <!-- thông tin lưu trữ đăng nhập -->
                    <div class="login_log pd-20"  >
                        <h3>Nhật ký đăng nhập</h3>

                        <div class="container br-7 mg-top-bottom-16">
                            <table class="table_log">
                                <tr >
                                    <th>#</th>
                                    <th>Địa chỉ IP</th>
                                    <th>Trình duyệt</th>
                                    <th>Thời gian đăng nhập</th>
                                </tr>
                                <tr>
                                    <td>...</td>
                                    <td>...</td>
                                    <td>...</td>
                                    <td>...</td>
                                </tr>
                    
                            </table>
                        </div>
                    </div>

                    <!-- END thông tin lưu trữ đăng nhập -->
                </div>
            </div>
        </div>
    </div>

    <script>
        // Hàm để tạo và hiển thị bài viết
        function renderPost(post, index) {
            const postsContainer = document.querySelector('.container-post-js');

            // Tạo phần tử div chứa bài viết
            const postElement = document.createElement('div');
            postElement.classList.add('post-child');

            // Xây dựng nội dung bài viết từ dữ liệu
            postElement.innerHTML = `
           
                <div class="post-content">
                    <h3 style="color: rgb(42, 177, 181);word-wrap: break-word;" class="content-text" >${post.fields.title}</h3>
                </div>

                <div class="post-content">
                    <p class="content-text" style="word-wrap: break-word;">${post.fields.content}</p>
                </div>

                ${ post.fields.img ? `<div class="post-img br-7"><img style="display: block; height: auto;" class="br-7 width-100pt" src="/media/${post.fields.img}" alt="image_tus"></div>`:''}
                <div class="total-emotions">
                    <div class="heart heart-js"><i class="fa-solid fa-heart mg-6"></i>${post.fields.num_like}</div>
                    <div class="comment-share">
                        <p style="margin-right: 20px;" class="opctncm " id="${post.fields.post_id}">${post.fields.num_comment} bình luận</p>
                        <p>${post.fields.num_share} lượt chia sẻ</p>
                    
                    </div>
                </div>
                <div class="post-emotions">
                
                   
                
                    <div class="emotion-item click-like-js" id="${post.fields.post_id}">
                        <i class="fa-solid fa-heart"></i>Like
                    </div>

                    <label for="${index} ${post.fields.post_id}" class ="emotion-item">
                        <i class="fa-solid fa-comment"></i>Comment
                    </label>
                    <div class="emotion-item">
                        <i class="fa-solid fa-share"></i>Share
                    </div>
                </div>

                <input type="checkbox"  hidden id="${index} ${post.fields.post_id}" class="on-comment-class">
                <div class="post-container-comment">
                    <form class="form-addcomment-js" content>
                        {% csrf_token %}
                        <input type="text" class="input-comment ${post.fields.post_id}" name="" required placeholder="Viết bình luận...">
                        <button type="submit" id="${post.fields.post_id}" class="btn-submit-post button-add-comment-js"><i class="fa-solid fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>

        
    

            <div class="container-total-comment">

                <div class="cuon mg-6 container-comment-js">
                    
                    <i class="fa-solid fa-xmark clctncm"></i>
                    <div class="post-child-comment">
                  
                        <div class="post-content">
                            <h3 style="color: rgb(42, 177, 181);" class="content-text title-js">${post.fields.title}</h3>
                        </div>
                        <div class="post-content">
                            <p class="content-text content-js">${post.fields.content}</p>
                        </div>
                        <div class="post-img br-7">
                            <img style="display: block; height: auto;" class="br-7 width-100pt post-img-js" src="" >
                        </div>
                        <div style="margin-top: 10px;"></div>
                    </div>
                        
                    <p class="nobody-comment-js" style="display: none;color: rgb(157, 35, 35);">Không có comment</p>
                    
                    <!-- <p style="color: rgb(172, 56, 56);" class="pd-6">không có bình luận</p> -->

                </div>`;

            // Thêm bài viết vào container
            postsContainer.appendChild(postElement);
        }

    
        document.querySelector('.check-click-post-js').addEventListener('click',async () => {
            
            // xem đã có bài viết chưa, chưa có mới gọi API
            post_check = document.querySelector('.post-child')
            if (post_check) {
                return
            }
            try {
                const response = await fetch('api/v1/get-post/', {
                    method:'GET'
                })

                if (!response.ok) {
                    return alert(response.error)
                }

                const data = await response.json()

                //posts là list dạng [post1, post2, post3] được gửi lên từ views.py của python
                // Hiển thị dữ liệu từ server
                
                data.posts.forEach((postData, index) => {
                    renderPost(postData, index)
                });
            } catch (error) {
                return alert(response.error)
            }

        })

    </script>

    <script src="{%static 'profile_user_app\js\profile_user_app.js'%}"></script>
    <script src="https://kit.fontawesome.com/0d2d64e695.js" crossorigin="anonymous"></script>
    <script src="{%static 'home_app\js\post\container-comment\container_comment.js'%}"></script>
    <script src="{%static 'home_app\js\commom.js'%}"></script>
</body>
</html>
