{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <title>Home - Exam Relax</title>
    <link rel="stylesheet" href="{% static 'home_app\css\home.css'%}">
    <link rel="stylesheet" href="{% static 'setting_app\css\setting.css'%}">
    <link rel="stylesheet" href="{% static 'earn_money_app\css\earn_money_app.css'%}">
    <link rel="icon" type="image/png" href="{%static 'home_app/img/logo.png'%}">
    
    <style>
        html {
            font-family:Verdana;
        }
    </style>
</head>
<body>
    <div id="main" class="ct-80-lr-20">
        <div class="fullscreen-noti width-100pt"></div>
        <div id="header" class="mg-8-16  row ">
            <img class="header-logo" src="{%static 'home_app\img\logo.png'%}" alt="logo">
            <img class= 'header-logo-text' src="{%static 'home_app\img\logo-text.png'%}" alt="logo">
            <div class="header-container-search row child-ct-col">
                <i class="fa-solid fa-magnifying-glass icon-search pd-lr-8"></i>
                <input class="search-input" type="text" placeholder="Tìm kiếm bài học, bài viết, video, ..."></input>
            </div>
            <div class="header-user row ">
                <i class="fa-solid fa-bell header-notification">
                    
                    <div class="triangle box_shadow display-none-noti"></div>
                    <div class="container-noti br-7 box_shadow display-none-noti">
                        <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                           <p>mày vừa được Tạ Dũng like</p>
                        </div>
                        <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                            <p>ban 3 day</p>
                        </div>
                        <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                            <p>mày vừa được Tạ Dũng like</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                             <p>ban 3 day</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                            <p>mày vừa được Tạ Dũng like</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                             <p>ban 3 day</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                            <p>mày vừa được Tạ Dũng like</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                             <p>ban 3 day</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                            <p>mày vừa được Tạ Dũng like</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                             <p>ban 3 day</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                            <p>mày vừa được Tạ Dũng like</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                             <p>ban 3 day</p>
                         </div>
                    </div>
                </i>
                <div class="coin row"><b>50000</b> xu</div>
                <p class="name-user  ">Phùng Thành Đạt</p>
                <img src="{%static 'home_app\img\logo.png'%}" alt="">
            </div>
        </div>
        <div id="nav">
            <label for="on-nav-items" class="nav-home"><i class="fa-solid fa-bars-progress"></i></label>
            <label for="on-nav-items-mobile" class="nav-home-mobile"><i class="fa-solid fa-bars-progress"></i></label>
            <input type="checkbox" name="" id="on-nav-items" hidden>
            
            <div class="nav-items">
                <a href='{% url "home"%}' class="nav-child"><i class="fa-solid fa-house"></i>Trang chủ</a>
                <a href='{% url "document"%}' class="nav-child"><i class="fa-solid fa-folder"></i>Tài liệu</a>
                <a href='{% url "earn_money"%}' class="nav-child"><i class="fa-solid fa-circle-dollar-to-slot"></i>Kiếm tiền</a>
                <a href='{% url "pay"%}' class="nav-child"><i class="fa-solid fa-credit-card"></i>Thanh toán</a>
                <a href='{% url "profile_user"%}' class="nav-child"><i class="fa-solid fa-user"></i>Trang cá nhân</a>
                <a href='{% url "setting"%}' class="nav-child"><i class="fa-solid fa-gear"></i>Cài đặt</a>
                <div class="accout-out">
                    <button>Đăng xuất</button>
                </div>
            </div>
            <input type="checkbox" hidden name="" id="on-nav-items-mobile" >
            <label for="on-nav-items-mobile" class="fullscreen"></label>
            <div class="nav-items-mobile" >
                <a href='{% url "home"%}' class="nav-child"><i class="fa-solid fa-house"></i>Trang chủ</a>
                <a href='{% url "document"%}' class="nav-child"><i class="fa-solid fa-folder"></i>Tài liệu</a>
                <a href='{% url "earn_money"%}' class="nav-child"><i class="fa-solid fa-circle-dollar-to-slot"></i>Kiếm tiền</a>
                <a href='{% url "pay"%}' class="nav-child"><i class="fa-solid fa-credit-card"></i>Thanh toán</a>
                <a href='{% url "profile_user"%}' class="nav-child"><i class="fa-solid fa-user"></i>Trang cá nhân</a>
                <a href='{% url "home"%}' class="nav-child element-add"><i class="fa-solid fa-bell"></i>Thông báo</a>
                <a href='{% url "setting"%}' class="nav-child"><i class="fa-solid fa-gear"></i>Cài đặt</a>
                <div class="accout-out">
                    <button>Đăng xuất</button>
                </div>
            </div>

        </div>
        <div id="content" class="pd-20">
            <!-- <div class="header-container">
                <img src="{% static 'setting_app\img\background-user.jpg' %}" alt="" class="img-background">
                <div class="info-user">
                    <img src="{%static 'setting_app\img\member.png'%}" class="img-user" alt="">
                    <p class="name">Hoa Quang Vinh</p>
                    <i>Member</i>
                </div>
            </div> -->

            <div class="content-container">
                <div class="info-container">
                    <div class="info-account">
                        <div class="info-header">
                            <h4>Thông tin tài khoản</h4>
                        </div>

                        <div class="content-info">
                            <div class="username">
                                <p>Tên đăng nhập:</p>
                                <div class="container-info">

                                    <p>Your Name</p>
                                </div>
                            </div>
                            <div class="coin">
                                <p>Hiện có:</p>
                                <div class="container-info">

                                    <p>20000 xu</p>
                                </div>
                            </div>
                            <div class="access_token">
                                <p>Access_token: (không được chia sẻ với ai)</p>
                                <div class="container-info">

                                    <p>âcjcjjjjjjjjjjjjjjjjjjjj</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="handle_error">
                        <div class="handle">
                            <p>Nội dung xử lí 1</p>
    
                        </div>
                        <div class="handle">
                            <p>Nội dung xử lí 2</p>
                            
                        </div>
                    </div>
                </div>

                

                <div class="change-pw">
                    <div class="header"><h4>Đổi mật khẩu</h4></div>
                    <div class="content">
                        <div>
                            <p>Mật khẩu cũ</p>
                            <input type="password" placeholder="******">
                        </div>
                        <div>
                            <p>Mật khẩu mới</p>
                            <input type="password" placeholder="******">
                        </div>
                        <div>
                            <p>Nhập lại mật khẩu mới</p>
                            <input type="password" placeholder="******">
                        </div>
                        <button type="submit">Đổi mật khẩu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/0d2d64e695.js" crossorigin="anonymous"></script>
    <script src="{%static 'home_app\js\commom.js'%}"></script>
</body>
</html>
