{% extends 'site_base.html'%}
{% load static %}

{% block home %}
<div id="content">
    <div class="content-container">
        <!-- Nội dung bài viết và bảng xếp hạng của bạn ở đây -->
        <div class="post">
            
            <div class="post-child">
                <div class="post-header">
                    <img class="img-50" src="{%static 'study\img\logo.png'%}" alt="" class="avatar">
                    <div class="info">
                        <p class="username">Admin</p>
                        <p class="time">11:00 <i class="ti-world mode"></i></p>
                    </div>
                </div>
                <div class="post-content">
                    <p class="content-text">Vui lòng cập nhật avatar tiktok trước khi thêm vào làm nhiệm vụ, những tài khoản không có avatar sẽ không thể thêm được</p>
                </div>
                <div class="post-emotions">
                    <div class="emotion-item">
                        <i class="ti-heart heart"></i>Like
                    </div>
                    <label for="on-comment" class ="emotion-item">
                        <i class="ti-comment comment"></i>Comment
                    </label>
                    <div class="emotion-item">
                        <i class="ti-share share"></i>Share
                    </div>
                </div>

                <input type="checkbox" name="" hidden id="on-comment" class="on-comment-class">
                <div class="post-container-comment">
                    <i class="ti-control-play comment-next"></i>
                    <input type="text" class="input-comment" placeholder="Viết bình luận...">
                    <img src="{%static 'study\img\logo.png'%}" alt="user" class="img-user-comment img-50">
                </div>
            </div>


            <div class="post-child">
                <div class="post-header">
                    <img class="img-50" src="{%static 'study\img\logo.png'%}" alt="" class="avatar">
                    <div class="info">
                        <p class="username">Admin</p>
                        <p class="time">11:00 <i class="ti-world mode"></i></p>
                    </div>
                </div>
                <div class="post-content">
                    <p class="content-text">Vui lòng cập nhật avatar tiktok trước khi thêm vào làm nhiệm vụ, những tài khoản không có avatar sẽ không thể thêm được</p>
                </div>
                <div class="post-emotions">
                    <div class="emotion-item">
                        <i class="ti-heart heart"></i>Like
                    </div>
                    <label for="on-comment1" class ="emotion-item">
                        <i class="ti-comment comment"></i>Comment
                    </label>
                    <div class="emotion-item">
                        <i class="ti-share share"></i>Share
                    </div>
                </div>

                <input type="checkbox" name="" hidden id="on-comment1" class="on-comment-class">
                <div class="post-container-comment">
                    <i class="ti-control-play comment-next"></i>
                    <input type="text" class="input-comment" placeholder="Viết bình luận...">
                    <img src="{%static 'study\img\logo.png'%}" alt="user" class="img-user-comment img-50">
                </div>
            </div>
  

            <!-- Các phần tử bài viết khác ở đây -->
        </div>
    </div>
    <div class="rank">
        <div class="rank-header">
            <h3 class="header-content">Bảng Xếp Hạng Trẻ Trâu</h3>
        </div>
        <div class="rank-user">
            <div class="user-child">
                <img class="img-50" src="{%static 'study\img\logo.png'%}" alt="">
                <div class="info">
                    <p class="username">Client1</p>
                    <p class="rank-user">Thách Đố</p>
                    <p class="point">Điểm: 2000003</p>
                </div>
            </div>
        </div>
        
    </div>
    
</div>
{% endblock %}