


{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Đăng Nhập</title>
    <link rel="stylesheet" href="{%static 'study/css/login.css'%}">
    <link rel="icon" href="{%static 'study/css/logo.png'%}" type="image/png">
    
</head>

<body>

    <div id="main">
        
        <div class="logo-text-container">
            <img src="{%static 'study\img\logo.png'%}" alt="Logo">
            <p class="slogan">Exam Relax là nền tảng làm bài nhanh, hiệu quả.</p>
        </div>

        <div >
            <form class = "form-login-container"  action="{% url 'login'%}" method="post">
                {%csrf_token%}
                <input placeholder="Tên tài khoản" name="username" type="text">
                <input type="password" placeholder="Mật khẩu" name="password">
                <button type="submit" class="btn-login">Đăng nhập</button>
                <a href="#" class="btn-repassword">Quên mật khẩu?</a>
                <div class="underline"></div>
                <a href="{% url 'register'%}" class="btn-signup">Tạo tài khoản mới</a>
            </form>
        </div>

    </div>

</body>

</html>
