<!DOCTYPE html>
<html>
<head>
    <title>Đăng Nhập</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            font-size: 20px;
            
        }
    </style>
</head>

<body>
    <h3>Đăng Nhập</h3>
    <h5 style="color:  red;">*Chúng tôi đã chuyển cơ sở dữ liệu nhằm nâng cấp và tối ưu, hãy tạo mới tài khoản nếu tài khoản cũ không tồn tại, xin lỗi vì sự bất tiện.</h5>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <p>Tên đăng nhập:</p>{{form.username}}
        <br>
        <p>Mật khẩu:</p>{{form.password}}
        <br>
        {%if message%}
        <p style="color: red;">{{message}}</p>
        {%endif %}
        <br>
        <button type="submit">Đăng Nhập</button>

    <br>
    <a href="{%url 'register'%}">Đăng kí</a>
</body>
</html>
