<div class="post-child">
    <div class="post-header">
        <img class="img-50" src="{%static 'study\img\logo.png'%}" alt="" class="avatar">
        <div class="info">
            <p class="username">Admin <i class="fa-solid fa-circle-check tick"></i></p>
            <p class="time">11:00 <i class="fa-solid fa-globe"></i></p>
        </div>
    </div>
    <div class="post-content">
        <p class="content-text">Vui lòng cập nhật avatar tiktok trước khi thêm vào làm nhiệm vụ, những tài khoản không có avatar sẽ không thể thêm được</p>
    </div>

    <div class="total-emotions">
        <div class="heart"><i class="fa-solid fa-heart"> 1,2K</i></div>
        <div class="comment-share">
            <p style="margin-right: 20px;">30 bình luận</p>
            <p>6 lượt chia sẻ</p>
        
        </div>
    </div>
    <div class="post-emotions">
        <div class="emotion-item">
            <i class="fa-solid fa-heart"></i>Like
        </div>
        <label for="on-comment1" class ="emotion-item">
            <i class="fa-solid fa-comment"></i>Comment
        </label>
        <div class="emotion-item">
            <i class="fa-solid fa-share"></i>Share
        </div>
    </div>