<!DOCTYPE html>
<html>
<head>
    <title>Đăng Ký</title>
    <style>
        body {
            font-size: 20px;
            overflow-y: auto;
        }
    </style>
</head>
<body>
    {%if message%}
    <p style="color: red;">{{message}}</p>
    {%endif %}
    <h3>Đăng Ký</h3>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <br>
        <p>Tên hiển thị:</p>{{form.username}}
        <br>
        <p>Mật khẩu:</p>{{form.password}}
        <br>
        <p>Xác nhận mật khẩu:</p>{{form.confirm_password}}
        <br>
        <button type="submit">Đăng Ký</button>
        <a href="{%url 'login'%}">Đăng Nhập</a>
    </form>
</body>
</html>
