{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <title>Home - Exam Relax</title>
    <link rel="stylesheet" href="{% static 'home_app\css\home.css'%}">
    <link rel="stylesheet" href="{% static 'earn_money_app\css\earn_money_app.css'%}">
    <link rel="stylesheet" href="{% static 'earn_money_app\css\earn_money_youtube.css'%}">
    <link rel="stylesheet" href="{% static 'profile_user_app\css\profile_user_app.css'%}">
    <link rel="stylesheet" href="{% static 'pay_app\css\pay_app.css'%}">
    <link rel="icon" type="image/png" href="{%static 'home_app/img/logo.png'%}">

</head>
<body>
    <div id="main" class="ct-80-lr-20">
        <div class="fullscreen-noti width-100pt"></div>
        <div id="header" class="mg-8-16  row ">
            <img class="header-logo" src="{%static 'home_app\img\logo.png'%}" alt="logo">
            <img class= 'header-logo-text' src="{%static 'home_app\img\logo-text.png'%}" alt="logo">

            <div class="header-user row ">
                <i class="fa-solid fa-bell header-notification">
                    
                    <div class="triangle box_shadow display-none-noti"></div>
                    <div class="container-noti br-7 box_shadow display-none-noti">
                        <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                           <p>mày vừa được Tạ Dũng like</p>
                        </div>
                        <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                            <p>ban 3 day</p>
                        </div>
                        <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                            <p>mày vừa được Tạ Dũng like</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                             <p>ban 3 day</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                            <p>mày vừa được Tạ Dũng like</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                             <p>ban 3 day</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                            <p>mày vừa được Tạ Dũng like</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                             <p>ban 3 day</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                            <p>mày vừa được Tạ Dũng like</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                             <p>ban 3 day</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                            <p>mày vừa được Tạ Dũng like</p>
                         </div>
                         <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                             <p>ban 3 day</p>
                         </div>
                    </div>
                </i>
                <div class="coin row"><i class="fa-solid fa-dollar-sign"></i><b> 50000</b></div>
                <p class="name-user  ">Phùng Thành Đạt</p>
                <img src="{%static 'home_app\img\logo.png'%}" alt="">
            </div>
        </div>
        <div id="nav">
            <label for="on-nav-items" class="nav-home"><i class="fa-solid fa-bars-progress"></i></label>
            <label for="on-nav-items-mobile" class="nav-home-mobile"><i class="fa-solid fa-bars-progress"></i></label>
            <input type="checkbox" name="" id="on-nav-items" hidden>
            
            <div class="nav-items">
                <a href='{% url "home"%}' class="nav-child"><i class="fa-solid fa-house"></i>Trang chủ</a>
                <a href='{% url "document"%}' class="nav-child"><i class="fa-solid fa-folder"></i>Tài liệu</a>
                <a href='{% url "earn_money"%}' class="nav-child"><i class="fa-solid fa-circle-dollar-to-slot"></i>Kiếm tiền</a>
                <a href='{% url "pay"%}' class="nav-child"><i class="fa-solid fa-credit-card"></i>Thanh toán</a>
                <a href='{% url "profile_user"%}' class="nav-child"><i class="fa-solid fa-user"></i>Trang cá nhân</a>
                <a href='{% url "setting"%}' class="nav-child"><i class="fa-solid fa-gear"></i>Cài đặt</a>
                <div class="accout-out">
                    <button>Đăng xuất</button>
                </div>
            </div>
            <input type="checkbox" hidden name="" id="on-nav-items-mobile" >
            <label for="on-nav-items-mobile" class="fullscreen"></label>
            <div class="nav-items-mobile" >
                <a href='{% url "home"%}' class="nav-child"><i class="fa-solid fa-house"></i>Trang chủ</a>
                <a href='{% url "document"%}' class="nav-child"><i class="fa-solid fa-folder"></i>Tài liệu</a>
                <a href='{% url "earn_money"%}' class="nav-child"><i class="fa-solid fa-circle-dollar-to-slot"></i>Kiếm tiền</a>
                <a href='{% url "pay"%}' class="nav-child"><i class="fa-solid fa-credit-card"></i>Thanh toán</a>
                <a href='{% url "profile_user"%}' class="nav-child"><i class="fa-solid fa-user"></i>Trang cá nhân</a>
                <a href='{% url "setting"%}' class="nav-child"><i class="fa-solid fa-gear"></i>Cài đặt</a>
                <div class="accout-out">
                    <button>Đăng xuất</button>
                </div>
            </div>

        </div>
        <div id="content">
            <div class="container pd-20">
                <div class="header">
                    <h3>Rút tiền</h3>
                </div>

                <div class="container-content pd-20 ">
                    <div class="div dp-flex">

                        <div class="box box-sodu mg-12 br-7 pd-20 dp-flex ai-center">
                            <div class="">
                                <div class="icon mg-8-16"><i class="fa-solid fa-wallet"></i> 
                                
                                </div>
                                <h4 style="display: inline;">Số Dư Khả Dụng</h4>
                            </div>
                            <div class="">
                                <p style="white-space: nowrap;"><i class="fa-solid fa-dollar-sign"></i> 0.01</p>
                            </div>
                            
                        </div>
                        <div class="box box-gioithieu mg-12 br-7 pd-20 dp-flex ai-center">
                            <div class="">
    
                                <div class="icon mg-8-16"><i class="fa-solid fa-link"></i> 
        
                                </div>
                                <h4 class="">Thu Nhập Giới Thiệu</h4>
                            </div>
                            <div class="">
                                <p style="white-space: nowrap;"><i class="fa-solid fa-dollar-sign"></i> 0.01</p>
                            </div>
                        </div>
                        <div class="box box-choduyet mg-12 br-7 pd-20 dp-flex ai-center">
                            <div class="">
    
                                <div class="icon mg-8-16"><i class="fa-solid fa-money-bill-transfer"></i> 
        
                                </div>
                                <h4 class="">Đang Chờ Rút Tiền</h4>
                            </div>
                            <div class="">
                                <p style="white-space: nowrap;"><i class="fa-solid fa-dollar-sign"></i> 0.01</p>
                            </div>
                        </div>
                    </div>
                    <div class="dp-flex">

                        <div class="box box-giutien mg-12 br-7 pd-20 dp-flex ai-center">
                            <div class="">
    
                                <div class="icon mg-8-16"><i class="fa-solid fa-sack-xmark"></i> 
        
                                </div>
                                <h4 class="">Giữ Rút Tiền</h4>
                            </div>
                            <div class="">
                                <p style="white-space: nowrap;"><i class="fa-solid fa-dollar-sign"></i> 0.01</p>
                            </div>
                        </div>
                        <div class="box box-tiendaduyet mg-12 br-7 pd-20 dp-flex ai-center">
                            <div class="">
    
                                <div class="icon mg-8-16"><i class="fa-solid fa-calendar-check"></i> 
        
                                </div>
                                <h4 class="">Số Tiền Phê Duyệt</h4>
                            </div>
                            <div class="">
                                <p style="white-space: nowrap;"><i class="fa-solid fa-dollar-sign"></i> 0.01</p>
                            </div>
                        </div>
                        <div class="box box-tiendarut mg-12 br-7 pd-20 dp-flex ai-center">
                            <div class="">
    
                                <div class="icon mg-8-16"><i class="fa-solid fa-coins"></i> 
        
                                </div>
                                <h4 class="">Tổng Số Tiền Rút</h4>
                            </div>
                            <div class="">
                                <p style="white-space: nowrap;"><i class="fa-solid fa-dollar-sign"></i> 0.01</p>
                            </div>
                        </div>
                        
                    </div>
                </div>


                <div class="container-pay pd-20">
                    <select name="" id="" class="cursor-pointer input-base-youtube">
                        <option value="">Số tiền</option>
                        <option value="">20 $</option>
                        <option value="">30 $</option>
                        <option value="">40 $</option>
                    </select>
                    <select name="" id="" class="cursor-pointer input-base-youtube">
                        <option value="">Chọn tài khoản thanh toán</option>
                        <option value="">PhungThanhDat|MB</option>
                    </select>
                    <p class="mg-top-bottom-16">Chưa có tài khoản thanh toán? <a style="color: #3366FF;text-decoration: none;" href="{%url 'profile_user'%}">Thêm ngay</a></p>
                    <button type="submit" class="bt-youtube">Rút tiền</button>
                </div>
            </div>
            
        </div>
    </div>
    <script>

    </script>
    <script src="https://kit.fontawesome.com/0d2d64e695.js" crossorigin="anonymous"></script>
    <script src="{%static 'earn_money_app\js\redirect.js'%}"></script>
    <script src="{%static 'home_app\js\commom.js'%}"></script>
</body>
</html>
