{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <title>Home - Exam Relax</title>
    <link rel="stylesheet" href="{% static 'home_app\css\home.css'%}">
    <link rel="stylesheet" href="{% static 'earn_money_app\css\earn_money_app.css'%}">
    <link rel="icon" type="image/png" href="{%static 'home_app/img/logo.png'%}">
 
    <style>
        .giftcode {
            background-color: #00D27A;
            color: rgb(236, 230, 230);
            padding: 7px 10px 7px 10px;
            margin: 6px;
            border-radius: 7px;
            width:fit-content;
        }
        .giftcode:hover {
            background-color: #00a05d;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div id="main" class="ct-80-lr-20">
        <div class="fullscreen-noti width-100pt"></div>
        <div id="header" class="mg-8-16  row ">
            <img class="header-logo" src="{%static 'home_app\img\logo.png'%}" alt="logo">
            <img class= 'header-logo-text' src="{%static 'home_app\img\logo-text.png'%}" alt="logo">
      
            <div class="header-user row ">
                <i class="fa-solid fa-bell header-notification">
                    
                    <div class="triangle box_shadow display-none-noti"></div>
                    <div class="container-noti br-7 box_shadow display-none-noti">
                        <div class="container-content bd-1 bgc_in_container br-7 mg-8-16 pd-6">
                           <p>mày vừa được Tạ Dũng like</p>
                        </div>
              
                    </div>
                </i>
                <div class="coin row"><i class="fa-solid fa-dollar-sign"></i><b> 50000</b></div>
                <p class="name-user  ">Phùng Thành Đạt</p>
                <img src="{%static 'home_app\img\logo.png'%}" alt="">
            </div>
        </div>
        <div id="nav">
            <label for="on-nav-items" class="nav-home"><i class="fa-solid fa-bars-progress"></i></label>
            <label for="on-nav-items-mobile" class="nav-home-mobile"><i class="fa-solid fa-bars-progress"></i></label>
            <input type="checkbox" name="" id="on-nav-items" hidden>
            
            <div class="nav-items">
                <a href='{% url "home"%}' class="nav-child"><i class="fa-solid fa-house"></i>Trang chủ</a>
                <a href='{% url "document"%}' class="nav-child"><i class="fa-solid fa-folder"></i>Tài liệu</a>
                <a href='{% url "earn_money"%}' class="nav-child"><i class="fa-solid fa-circle-dollar-to-slot"></i>Kiếm tiền</a>
                <a href='{% url "pay"%}' class="nav-child"><i class="fa-solid fa-credit-card"></i>Thanh toán</a>
                <a href='{% url "profile_user"%}' class="nav-child"><i class="fa-solid fa-user"></i>Trang cá nhân</a>
                <a href='{% url "setting"%}' class="nav-child"><i class="fa-solid fa-gear"></i>Cài đặt</a>
                <div class="accout-out">
                    <button>Đăng xuất</button>
                </div>
            </div>
            <input type="checkbox" hidden name="" id="on-nav-items-mobile" >
            <label for="on-nav-items-mobile" class="fullscreen"></label>
            <div class="nav-items-mobile" >
                <a href='{% url "home"%}' class="nav-child"><i class="fa-solid fa-house"></i>Trang chủ</a>
                <a href='{% url "document"%}' class="nav-child"><i class="fa-solid fa-folder"></i>Tài liệu</a>
                <a href='{% url "earn_money"%}' class="nav-child"><i class="fa-solid fa-circle-dollar-to-slot"></i>Kiếm tiền</a>
                <a href='{% url "pay"%}' class="nav-child"><i class="fa-solid fa-credit-card"></i>Thanh toán</a>
                <a href='{% url "profile_user"%}' class="nav-child"><i class="fa-solid fa-user"></i>Trang cá nhân</a>
                <a href='{% url "setting"%}' class="nav-child"><i class="fa-solid fa-gear"></i>Cài đặt</a>
                <div class="accout-out">
                    <button>Đăng xuất</button>
                </div>
            </div>

        </div>
        <div id="content">
            <div class="container width-100pt pd-20">
                <p class="giftcode"><i class="fa-solid fa-sack-dollar"></i> Nhập code</p>
                <div class="header pd-20 br-7 mg-top-bottom-16 bgc-container">

                    <div class="info"><h3>Thông tin thu nhập </h3></div>
                    <div class="container pd-20 dp-flex">
                        <div class="earn_money_day  bd-1 mg-8-16 width-33pt pd-20 br-7">
                            <h4 class="color-blue mg-top-bottom-16"><i class="fa-solid fa-dollar-sign"></i> {{coin_in_day}}</h4>
                            <p class="color-gray">Thu nhập trong ngày</p>
    
                        </div>
    

                        <div class="earn_money_total bd-1 mg-8-16 width-33pt pd-20 br-7">
                            <h4 class="color-blue mg-top-bottom-16"><i class="fa-solid fa-dollar-sign"></i> {{coin_total}}</h4>
                            <p class="color-gray">Tồng thu nhập</p>
                        </div>
    
                    </div>
                </div>

                <div class="content pd-20 br-7 bgc-container mg-top-bottom-16">
                    <div class="info "><h3>Hình thức kiếm tiền</h3></div>

                    <div class="earn_money_method ">
                        <div class="container_link mg-top-bottom-16 br-7 pd-20 bgc_in_container">
                            <div class="header"><h4>Vượt LINK rút gọn kiếm tiền <i class="fa-solid fa-gear fa-spin fa-spin-reverse" style="color: #05ad21;"></i></h4></div>
                            <div class="container pd-20">

                                <div class="web1s_method web1s_method_js width-100pt pd-20 dp-flex ai-center bd-1 mg-top-bottom-16 br-7 cursor-pointer bgc-container hover-color-xanh ">
                                    <img src="{%static 'earn_money_app\img\logoweb1s.png'%}" alt="" class="img_method w-169px mg-8-16">
                                    <h4 class="color-gray">WEB1S.com - Nền tảng kiếm tiền online không giới hạn</h4>
                                </div>
                            </div>
                        </div>

                        <div class="container_watch mg-top-bottom-16 br-7 pd-20 bgc_in_container">

                            <div class="watch_video_method  ">
                                <div class="header"><h4>Tương tác chéo kiếm tiền <i class="fa-solid fa-gear fa-spin fa-spin-reverse" style="color: #05ad21;"></i></h4></div>
                                <div class="container pd-20">
                                    <div class="youtube_method youtube_method_js width-100pt pd-20 dp-flex ai-center bd-1 mg-top-bottom-16 br-7 cursor-pointer bgc-container hover-color-xanh">
                                        <img src="{%static 'earn_money_app\img\logoyoutube.png'%}" alt="" class="img_method mg-8-16 w-63px ">
                                        <h4 class="color-gray">YouTube.com - Video Sáng Tạo, Thu Nhập Linh Hoạt - YouTube Cho Mọi Người!</h4>
                                    </div>
                                    <div class="facebook_method facebook_method_js width-100pt pd-20 dp-flex ai-center bd-1 mg-top-bottom-16 br-7 cursor-pointer bgc-container hover-color-xanh">
                                        <img src="{%static 'earn_money_app\img\logofacebook.png'%}" alt="" class="img_method mg-8-16 w-63px ">
                                        <h4 class="color-gray">Facebook.com - Kết Nối và Kiếm Tiền - Facebook Mạnh Mẽ Như Tình Bạn!</h4>
                                    </div>
                                    <div class="tiktok_method tiktok_method_js width-100pt pd-20 dp-flex ai-center bd-1 mg-top-bottom-16 br-7 cursor-pointer bgc-container hover-color-xanh">
                                        <img src="{%static 'earn_money_app\img\logotiktok.png'%}" alt="" class="img_method mg-8-16 w-63px ">
                                        <h4 class="color-gray">TikTok.com - Tạo Nguồn Thu Nhập, Nhịp Điệu Cuộc Sống!</h4>
        
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script>
        document.querySelector('.giftcode').addEventListener('click', () => {
            window.location.href = 'get-money/' 
        })
    </script>
    <script src="https://kit.fontawesome.com/0d2d64e695.js" crossorigin="anonymous"></script>
    <script src="{%static 'earn_money_app\js\redirect.js'%}"></script>
    <script src="{%static 'home_app\js\commom.js'%}"></script>
</body>
</html>
