
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <title>Nhiệm vụ hoàn thành</title>
    <link rel="stylesheet" href="{% static 'earn_money_app/css/reward_site_temp.css'%}">
</head>
<body>
    <div class="main">
        <img class="header-logo-text" src="{%static 'home_app\img\logo-text.png'%}" alt="logo">
        <br>


        <div class="completed-container">
            <form action="">
                {% csrf_token %}
                <div class="" style="margin: 13%;">
                    <h2 style="color: green;">Hoàn thành +$0.1</h2>
                    <!-- <input class="input-base access-token-js" type="text" placeholder="Access_token"> -->
                </div>
                <p class="info"></p>
                <label for="check-create-giftcode" class="style-btn btn-open-container-create-giftcode-js">Giftcode</label>
                <label class="style-btn btn-collect-js">Nhận Ngay</label>
            </form>
        </div>
        <input type="checkbox" name="" hidden id="check-create-giftcode">
        <div class="container-create-giftcode">
            <label for="check-create-giftcode" class="close-container-create-giftcode">X</label>
            <form class="form-container" action="">
                {% csrf_token %}
                <input class='input-base input-value-giftcode giftcode-js' type="text" value="COCMAUW&" readonly>
                <p class="info_create-js"></p>
                <label class="style-btn btn-create-giftcode-js">Tạo</label>

            </form>

            <div class="container-info">
                <ul>
                    <li class="note">Giftcode chỉ tồn tại sau khi nhấn tạo</li>
                    <li class="note">Vào trang "Kiếm tiền", ấn nút "Nhập code" để nhận</li>
                    <li class="note">Có thể chia sẻ Giftcode</li>
                </ul>
            </div>
        </div>
    </div>


    <script src="{%static 'earn_money_app/js/reward.js'%}"></script>
</body>
</html>
